@model IEnumerable<Data.Entities.ProjectEntity>

<div class="main-top">
    <h2>Projects</h2>
    <button class="btn main-btn" onclick="createProjectOpen()">+ Add Project</button>
</div>

<!-- Add Projects Modal -->
<div class="modal-background" id="add-project-bg" onclick="createProjectClose()"></div>
<div class="modal-add-card" id="add-project-card">
    @await Html.PartialAsync("Partials/_CreateProjectPartial", new CreateProjectViewModel())
</div>


<div class="main-mid">
    <div class="main-link">ALL [<span id="project-count-all">@Model.Count()</span>]</div>
    <div class="main-link">STARTED [<span id="project-count-started">0</span>]</div>
    <div class="main-link">COMPLETED [<span id="project-count-completed">0</span>]</div>
</div>
<div class="main-bottom">
    @if (Model == null || !Model.Any())
    {
        <div class="no-projects">
            <p>
                No Projects found.
                <a href="javascript:void(0);" onclick="openCreateProjectModal()" class="create-link">Create a new project.</a>
            </p>
        </div>
    }
    else
    {
        @foreach (var project in Model)
        {
            <div class="card-projects">
                <div class="container-projects-top">
                    <div class="container-projects-customer">
                        <div class="container-projects-img">
                            <img src="~/images/ProjectImage1.svg" />
                        </div>
                        <div class="container-projects-text">
                            <h6 class="projectName">@project.ProjectName</h6>
                            <p class="customerName">@project.ClientName</p>
                        </div>
                    </div>
                    <div class="container-projects-menu" onclick="toggleDropdownProject(this)">
                        <i class="fa-solid fa-ellipsis"></i>

                        <!-- Project Dropdown Menu -->
                        <div class="dropdown-project">
                            <div class="dropdown-project-card">
                                <div class="dropdown-project-content">
                                    <i class="fa-solid fa-pen"></i>
                                    <span>Edit</span>
                                </div>
                                <div class="drowdown-project-breaker"></div>
                                <div class="dropdown-project-content delete">
                                    <i class="fa-solid fa-trash"></i>
                                    <span>Delete Project</span>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="container-projects-description">
                    <span>@project.Description</span>
                </div>
            </div>
        }
    }
</div>
