<div class="main-top">
    <h2>Team Members</h2>
    <a href="/Projects/AddMember" class="btn main-btn">+ Add Member</a>
</div>
<div class="main-mid">
    Här ska det vara knappar sörrö!
</div>
<div class="main-bottom">
    <h1>Under Construction...</h1>
</div>
