@model object

@{
    ViewData["Title"] = "Authentication";
}

<div class="center-screen">

    @if (ViewBag.View == "Register")
    {
        <partial name="Partials/_RegisterPartial" model="Model as RegisterViewModel ?? new RegisterViewModel()" />
    }
    else
    {
        <partial name="Partials/_LoginPartial" model="Model as LoginViewModel ?? new LoginViewModel()" />
    }

</div>

@section Scripts {
    <script src="~/js/authValidation.js"></script>
}
