@model string

@{
    ViewData["Title"] = "Authentication";
}

<div class="center-screen">
   
    @if (Model == "Register")
    {
        <partial name="Partials/_RegisterPartial" model="new RegisterViewModel()" />
    }
    else
    {
        <partial name="Partials/_LoginPartial" model="new LoginViewModel()" />
    }

</div>
